/* ----------------------------- GLOBAL STYLES --------------------------------------- */

:root {
  --primary-color: peru;
  --primary-color-light: #eba866;
  --darkgrey: #252525;
  --offwhite: #eedcc9;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: url("img/blacktexbg.jpg");
  color: rgba(255, 255, 255, 0.9);
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: white;
}

h1 {
  font-family: rig-solid-bold-outline, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.3rem;
}

h2 {
  font-family: rig-solid-bold-reverse, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

h3 {
  font-family: rig-solid-bold-outline, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

/* ----------------------------- HERO & LOGO --------------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) url("img/bar1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.logo img {
  transition: all 0.5s;
}

.logo img:hover {
  transform: scale(1.04) rotate(-1deg);
}

/* ----------------------------- NAVIGATION --------------------------------------- */

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: background 250ms ease-in;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li {
  padding: 0 2rem;
  text-transform: uppercase;
}

li a {
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  position: relative;
}

li a::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 300ms ease-in-out;
}

li a:hover::before {
  bottom: 0;
  height: 100%;
}

.nav-list button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.nav-list button:hover {
  color: var(--primary-color);
  background-color: var(--offwhite);
}

.nav-onscroll {
  background-color: white;
}

.nav-onscroll a {
  color: var(--darkgrey);
}

/* ----------------------------- CONTENT STYLES --------------------------------------- */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0;
  padding: 6.5rem 2rem;
  height: 40vh;
  width: 80vw;
  font-size: 1.2rem;
}

.main-info p {
  text-align: center;
  line-height: 1.5;
  padding: 0 5rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: rgba(97, 97, 97, 0.26);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-blend-mode: darken;
  margin: 1.5rem 0 0 0;
  height: 40vh;
  width: 80vw;
  border: 2px solid rgb(68, 68, 68);
  overflow: hidden;
}

.card:last-child {
  margin-bottom: 3rem;
}

.drinks-info-img,
.food-info-img,
.event-info-img {
  transition: all 250ms ease-in;
}

.drinks-info-img:hover,
.food-info-img:hover,
.event-info-img:hover {
  transform: scale(1.01);
  filter: saturate(150%);
}

.drinks-info-img {
  background: rgba(0, 0, 0, 0.5) url("img/bar3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: -1/3;
}

.food-info-img {
  background: rgba(0, 0, 0, 0.5) url("img/bar4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 3/6;
  grid-row: -1/3;
}

.event-info-img {
  background: rgba(0, 0, 0, 0.5) url("img/bar2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: -1/3;
}

.info-text {
    justify-self: center;
  align-self: center;
  grid-column: 4/6;
  grid-row: 1/3;
  transition: transform 500ms ease-in-out;
  /* width: 100%;
  height: 100%; */
}

.info-text-inverse {
    justify-self: center;
  align-self: center;
  grid-column: 1/3;
  grid-row: 1/3;
  transition: transform 500ms ease-in-out;
}

.info-text:hover {
    transform: translateX(-1rem);
}

.info-text-inverse:hover {
    transform: translateX(1rem);
}

.info-text h2, .info-text-inverse h2 {
  transition: all 250ms ease-in-out;
}

.info-text h2:hover, .info-text-inverse h2:hover {
  color: var(--primary-color);
  transform: scale(1.01);
}

.info-text p, .info-text-inverse p {
  font-size: 1.2rem;
}

.info-text h2,
.info-text p,
.info-text-inverse h2,
.info-text-inverse p {
  padding: 0 2rem;
}

.info-text button, .info-text-inverse button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  margin: 1rem 2rem;
  padding: 0.7rem 1.7rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.info-text button:hover, .info-text-inverse button:hover {
  color: var(--primary-color);
  background-color: var(--offwhite);
}

/* FOOTER STUFF */

footer {
  padding: 0 3rem;
  /* border: 1px solid white; */
}

.insta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* border: 1px solid blue; */
}

.insta a {
  text-decoration: 5px solid underline;
  text-underline-offset: 1.1rem;
}

.insta a:hover  {
  font-family: rig-solid-bold-reverse, sans-serif;
  cursor: pointer;
}

i {
  padding: 0 1.3rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
