:root {
  --primary-color: peru;
  --primary-color-light: #eba866;
  --darkgrey: #252525;
  --offwhite: #eedcc9;
}

body {
  background-color: var(--background-color);
  background-image: url("img/blacktexbg.jpg");
  color: white;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: white;
}

/* HERO & NAV */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) url("/img/bar1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.logo img {
  transition: all 0.5s;
}

.logo img:hover {
  transform: scale(1.04) rotate(-1deg);
}

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.233);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: background 250ms ease-in;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li {
  padding: 0 2rem;
  text-transform: uppercase;
}

li a {
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  position: relative;
}

li a::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 300ms ease-in-out;
}

li a:hover::before {
  bottom: 0;
  height: 100%;
}

.nav-list button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.nav-list button:hover {
  color: var(--primary-color);
  background-color: var(--offwhite);
}

.nav-onscroll {
  background-color: white;
}

.nav-onscroll a {
  color: var(--darkgrey);
}

/* CONTENT STYLES */

h1 {
  font-family: rig-solid-bold-outline, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}

h2 {
  font-family: rig-solid-bold-reverse, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0;
  padding: 6.5rem 2rem;
  height: 40vh;
  width: 80vw;
}

.card {
  display: grid;
  grid-template-columns: 45% 1fr;
  background: rgba(97, 97, 97, 0.26);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-blend-mode: darken;
  margin: 1.5rem 0 0 0;
  height: 40vh;
  width: 80vw;
  border: 2px solid rgb(68, 68, 68);
  overflow: hidden;
}

.card:last-child {
  margin-bottom: 3rem;
}

.drinks-info-img,
.food-info-img,
.event-info-img {
  flex-grow: 2;
  transition: all 250ms ease-in;
}

.drinks-info-img:hover,
.food-info-img:hover,
.event-info-img:hover {
  transform: scale(1.01) rotate(-0.2deg);
}

.drinks-info-img {
  background: rgba(0, 0, 0, 0.5) url("/img/bar3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.food-info-img {
  background: rgba(0, 0, 0, 0.5) url("/img/bar4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  order: 2;
}

.event-info-img {
  background: rgba(0, 0, 0, 0.5) url("/img/bar2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info-text {
  align-self: center;
  width: 100%;
  transition: all 500ms ease-in;
}

.info-text h2 {
  transition: all 250ms ease-in;
}

.info-text h2:hover {
  color: var(--primary-color);
  transform: scale(1.01);
}

.info-text p {
  font-size: 1.2rem;
}

.info-text h2,
.info-text p {
  padding: 0 2rem;
}

.info-text button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  margin: 1rem 2rem;
  padding: 0.7rem 1.7rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.info-text button:hover {
  color: var(--primary-color);
  background-color: var(--offwhite);
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
